@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Styles for Header section */
header{
    background: rgba(255, 144, 14, 0.1);
  
}
body{
 
}
.title{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}
.nav-menu{
    margin-top: 45px;
}
.nav-menu a{
    text-decoration: none;
    margin: 30px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.header-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.header-descriptions{
    text-align: center;
}
.header-content-img{
    /* width: 100vw; */
    padding-bottom: 30px;
}
.header-descriptions h1{
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
}
.header-descriptions p{
    width: 700px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.btn-primary{
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

/* Responsive Header styles for mobile device */
@media screen and (max-width: 576px) {
    .nav-section{
        flex-direction: column;
    }
    .nav-menu a{
        display: flex;
        justify-content: center;
        font-size: 15px;
        margin-top: 0;
    }
    .title{
        font-size: 23px;
        text-align: center;
        margin-bottom: 0;
    }
    .header-descriptions h1{
        font-size: 28px;
    }
    .header-descriptions p{
        width: 250px;
        margin: 10px 10px;
        font-size: 14px;
    }
    .header-content img{
        width: 300px;
    }
    .btn-primary{
        /* display: none; */
        width: 120px;
        height: 40px;
        border: none;
        border-radius: 8px;
        font-size: 14px;
    }
}

/* Responsive Header styles for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .nav-section{
        flex-direction: column;
    }
    .nav-menu a{
        display: flex;
        justify-content: center;
        font-size: 18px;
        margin-top: 0;
    }
    .title{
        font-size: 28px;
        text-align: center;
        margin-bottom: 0;
    }
    .header-descriptions h1{
        font-size: 35px;
    }
    .header-descriptions p{
        width: 550px;
        margin: 20px 10px;
        font-size: 19px;
    }
    .header-content img{
        width: 700px;
    }
}

/* 
----------------------------
Header Section Done
----------------------------
*/

.features{
    margin: 50px;
    display: flex;
    gap: 50px;
    align-items: center;
}
.feature-contents h2{
    font-size: 35px;
    width: 450px;
    font-family: 'Work Sans';
}
.feature-contents p{
    font-size: 16px;
    font-family: 'Work Sans';
    font-weight: 400;
    width: 550px;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
   
}
.feature-img img{
    width: 340px;
}

/* More Features section */
.more-features{
    display: flex;
    justify-content: space-between;
    margin: 100px 50px;
}
.features-div h2{
    font-size: 40px;
    width: 300px;
}
.features-div p{
    font-size: 16px;
    font-family: 'Work Sans';
    width: 550px;
}
.feature{
    width: 550px;
    height: 170px;
    padding: 10px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.06);
}
.feature h3{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Work Sans';
}
.feature p{
    font-size: 16px;
    font-family: 'Work Sans';
}
.feature-img-div{
    position: absolute;
    right:50px;
}
.feature-img-div img{
    width: 700px;
}
.btn-experience{
    display: flex;
    justify-content: center;
    position: relative;
    top:-204px;
    left:-200px;
}

.btn-secondary{
    width: 300px;
    height: 200px;
    background: #FF900E;
    border: none;
    border-radius: 8px;
    color: white;
    /* font-family: 'Work Sans'; */
}



/* Responsive styles for smaller device */
@media screen and (max-width: 576px) {
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .features{
        flex-direction: column;
        align-items: center;
    }
    .feature-contents{
        text-align: center;
    }
    .feature-contents h2{
        font-size: 28px;
    }
    .feature-contents p{
        width: 350px;
        text-align: center;
        margin: 20px 50px;
    }
    .more-features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        margin: 30px;
    }
    .features-div h2{
        font-size: 30px;
        width: 250px;
    }
    .features-div p{
        width: 300px;
    }
    .feature{
        width: 300px;
        height: 170px;
        
    }
    .feature p{
        font-size: 16px;
        font-family: 'Work Sans';
    }
    .more-features img{
        width: 300px;
        margin: auto;
    }

    .feature-img-div{
        position: relative;
        left: 5px;
        display: flex;
        gap: 50px;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        
    }
    .feature-img-div img{
        width: 300px;
        margin-top: -200px;
        /* margin-right: 50px; */
        /* margin-left: -90px; */
    }
    .btn-experience{
        justify-content: center;
        position: relative;
        flex-direction: column-reverse;
        margin-left: 300px;
        margin-top: 200px;
        
    }
    .btn-secondary{
        width: 150px;
        height: 100px;
        background: #FF900E;
        border: none;
        border-radius: 8px;
        color: white;
        /* font-family: 'Work Sans'; */
    }
}

/* Responsive styles for medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .feature-img{
        grid-template-columns: repeat(2, 1fr);
    }
    .features{
        flex-direction: column-reverse;
        align-items: center;
    }
    .feature-contents{
        text-align: center;
    }
    .feature-contents h2{
        font-size: 33px;
        margin-left: 65px;
    }
    .feature-contents p{
        width: 500px;
        text-align: center;
        margin: 20px 50px;
    }
    .more-features{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .features-div h2{
        font-size: 40px;
        width: 350px;
        
    }
    .features-div p{
        width: 500px;
    }
    .feature{
        width: 500px;
        height: 170px;
    }
    .more-features img{
        width: 500px;
    }
    .feature-img-div{
        position: relative;
        right:50px;
    }
    .btn-experience{
        
        top:-204px;
        left: 100px;
        /* left:-200px; */
    }
}

/* 
-------------------------
Features Section Done
-------------------------
*/


/* Some Facts Container styles */
.facts-container{
    margin: 100px 50px;
}
.facts-titles h3{
    font-size: 35px;
    font-family: 'Work Sans';
    font-weight: 700;
    line-height: 20px;
}
.facts-titles p{
    font-family: 'Work Sans';
    width: 500px;
}
.facts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 50px 100px;
}
.fact{
    width: 200px;
    height: 200px;
    border: 1px solid #FF900E;
    text-align: center;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.1);
    transition: 0.7s;
}
.fact:hover{
    transform: scale(1.2);
    z-index: 1;
}
.fact img{
    width: 45px;
    margin-top: 30px;
}

/* Responsive Styles for some facts for mobile device */
@media screen and (max-width: 576px) {
    
    .facts-titles h3{
        font-size: 28px;
    }
    .facts-titles p{
        width: 300px;
    }
    .facts{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 50px auto;
    }
    .fact{
        width: 200px;
        height: 200px;
        margin: auto;
    }
    
}

/* Responsive styles for some facts for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .facts-container{
        /* margin: 100px 50px; */
    }
    .facts-titles h3{
        font-size: 35px;
        font-weight: 600;
    }
    .facts-titles p{
        width: 500px;
    }
    .facts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin: 50px auto;
    }
    .fact{
        width: 300px;
        height: 270px;
        margin: auto;
    }
    
}

/* 
------------------------
Some Facts Section Done
------------------------
*/

/* About US section styles */
.about-us-container{
    display: flex;
    margin: 10px 50px;
    justify-content: space-between;
}
.section-titles{
    width: 500px;
    font-family: 'Work Sans';

}
.section-titles h1{
    font-size: 35px;
    width: 450px;
}
.about-us-images{
    display: flex;
    gap: 15px;
}
.about-us-images img{
    width: 400px;
    box-shadow: 0 0 30px 4px rgba(0,0,0,0.1) ;
    transition: 0.5s ease-in-out;
}
.about-us-images img:hover{
    transform: scale(1.1);
    transition: all 2s ease 0s; 
    z-index: 2; 
}

/* Styles for Mobile device */
@media screen and (max-width: 576px) {
    .about-us-container{
        flex-direction: column;
        margin: 100px 30px;
        gap: 30px;
    }
    .section-titles{
        width: 300px;
        font-family: 'Work Sans';
    
    }
    .about-us-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }
    .about-us-images img{
        width: 300px;
    }
}
/* Styles for Medium device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .about-us-container{
        margin-top: -190px;
        flex-direction: column;
        /* margin: 100px 30px; */
        justify-content: center;
        gap: 30px;
    }
    .section-titles{
        width: 500px;
        /* text-align: center; */
    }
    .about-us-images{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    .about-us-images img{
        width: 500px;
    }
}

.sponsors{
    margin: 100px 50px;
}
.sponsors-titles{
    text-align: center;
    font-family: 'Work Sans';

}
.sponsors-titles h2{
    font-size: 35px;
}
.sponsors-titles p{
    font-size: 16px;
    width: 400px;
    margin: auto;
}
.sponsors-div{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 50px;
}
.sponsor img{
    width: 160px;
    mix-blend-mode: luminosity;
}

/* Responsive Styles for Sponsors for small devices */
@media screen and (max-width: 576px) {
    .sponsors{
        margin: 100px 40px;
    }
    .sponsors-titles h2{
        font-size: 28px;
    }
    .sponsors-titles p{
        font-size: 16px;
        width: 300px;
    }
    .sponsors-div{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 50px;
    }
}

/* Responsive Styles for Sponsors for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .sponsors{
        margin: 100px 50px;
    }
    .sponsors-titles h2{
        font-size: 28px;
    }
    .sponsors-titles p{
        font-size: 16px;
        width: 400px;
    }
    .sponsors-div{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin: 50px auto;
    }
    .sponsor{
        margin: auto;
    }
}

/* Footer styles */
.footer{
    background: #FFF4E7;
    margin: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;   
    color: #424242;
}

/* Footer Responsive styles */
.footer{
    font-size: 16px; 
}
.footer div{
    width: 250px;
    text-align: center;
}